<!DOCTYPE html>
<html>
  <head>
    <title>Tap Room</title>
  </head>
  <body>
    <ul>
      <li (click)="displayKeg(currentKeg)" *ngFor="let currentKeg of kegs">{{currentKeg.name}}</li>
    </ul>
    <div *ngIf="selectedKeg">
      <h3>Brand: {{selectedKeg.brand}}</h3>
      <h3>Price: ${{selectedKeg.price}}</h3>
      <h3>Alcohol Content: {{selectedKeg.alcoholContent}}%</h3>
    </div>
    <div>
      <input [(ngModel)]="newName" placeholder="Name">
      <input [(ngModel)]="newBrand" placeholder="Brand">
      <input [(ngModel)]="newPrice" placeholder="Price">
      <input [(ngModel)]="newAlcoholContent" placeholder="Alchol Content">
      <button (click)="addKeg(newName, newBrand, newPrice, newAlcoholContent)">Add Keg</button>
    </div>
  </body>
</html>
