<div class="keg-details" *ngIf="selectedKeg">
  <h3>Brand: {{selectedKeg.brand}}</h3>
  <h3 [class]="colorCost(selectedKeg)">Price: ${{selectedKeg.price}}</h3>
  <h3>Alcohol Content: {{selectedKeg.alcoholContent}}%</h3>
  <button (click)="displayEdit(selectedKeg)" class="btn btn-success mb-3">Edit</button>
</div>
<div class="edit-keg" *ngIf="editKeg">
  <input class="form-control mb-3" [(ngModel)]="selectedKeg.name">
  <input class="form-control mb-3" [(ngModel)]="selectedKeg.brand">
  <input class="form-control mb-3" [(ngModel)]="selectedKeg.price">
  <input class="form-control mb-3" [(ngModel)]="selectedKeg.alcoholContent">
  <button (click)="finishedEdit()" class="btn btn-danger mb-3">Done</button>
</div>
